<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Geofence List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <!-- <ion-item>
      <ion-label>
        <h3 >There are no geofences yet.</h3>
      </ion-label>
    </ion-item> -->
    <ion-item *ngFor="let fence of fences$ | async ; index as i;"
     style="cursor: pointer;" (click)="editOne(fence, i)">
      <ion-label>
        <h3 >{{fence.notification.text}}</h3>
        <p>When {{getTransition(fence.transitionType)}} within {{fence.radius}}m</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" >
    <ion-fab-button (click)="newOne()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
